@import "../../../styles/variables";

.big-title {
  margin-top: 6em;

  .title {
    font-size: 2.9em;
    font-family: 'Staatliches';
    margin-bottom: 0.5em;
    letter-spacing: 3px;
  }

  .description {
    font-size: 1.4em;
    font-weight: 100;
  }

  .button {
    font-family: "Montserrat-Regular";
    margin-top: 2em;
    background: $primary;
    color: #FFFFFF;
    height: 3.25em;
    cursor: pointer;
    border: none;
  }

  h1,
  h2,
  h3,
  strong {
    color: #FFFFFF;
  }
}

